@import 'tailwindcss';
@import './themes.css';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  * {
    @apply border-border;
  }

  html,
  body,
  #root {
    @apply h-full;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }

  ::-webkit-scrollbar {
    @apply h-2 w-2;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-border;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-muted-foreground/50;
  }
}

@layer components {
  .focus-ring {
    @apply outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 focus-visible:ring-offset-background;
  }

  .thin-scroll::-webkit-scrollbar {
    width: 3px;
  }
  .thin-scroll::-webkit-scrollbar-thumb {
    border-radius: 0px;
    height: 20px;
  }

  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .no-spinner[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}
